h1{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/*カードの並べ方を自動で調整するCSS*/
#card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;/*薄灰色の1pxの実線ボーダーを追加*/
    border-radius: 8px; /*薄い灰色の1pxの実線ボーダーを追加*/
    padding: 10px; /*内側の余白を10pxに設定*/
    margin: 10px; /*外側の余白を10pxに設定*/
    width: 200px; /*幅を200pxに固定*/
    max-height: 300px; /*高さの最大値を300pxに制限*/
}

.card img {
    width: 100%; /* カードの幅に合わせる */
    height: auto; /* 高さを自動調整 */
    max-height: 100px; /* 最大高さを設定 */
    object-fit: cover; /* はみ出さないようにする */
}

.unlocked {
    border-color: green;
}

.locked {
    border-color: red;
}

#notification {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffcc00;
    border-radius: 5px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/*
.row{
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.col{
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.card-body{
    width: 180px;
    height: 270px;
}
.card_titletext{
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: bold;
}
.card_textbox{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.card-img{
    width: 170px;
    height: 160px;
}
.card-img1{
    width:174px;
    height:160px;
}
.button a {
    position: relative;
    bottom: -100;
    right: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 2.5rem;
    max-width: 250px;
    padding: 5px 25px;
    color: #333;
    font-family: "Noto Sans Japanese";
    font-size: xx-large;
    text-decoration: none;
    color: #333;
    line-height: 1.8;
    transition: 0.3s ease-in-out;
    font-weight: 500px;
    background: cornflowerblue;
    border-radius: 9999px;
    border-bottom: solid 5px #999;
}
*/  