h1{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/*カードの並べ方を自動で調整するCSS*/
#card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;/*薄灰色の1pxの実線ボーダーを追加*/
    border-radius: 8px; /*薄い灰色の1pxの実線ボーダーを追加*/
    padding: 10px; /*内側の余白を10pxに設定*/
    margin: 10px; /*外側の余白を10pxに設定*/
    width: 200px; /*幅を200pxに固定*/
    max-height: 300px; /*高さの最大値を300pxに制限*/
}

.card img {
    width: 100%; /* カードの幅に合わせる */
    height: auto; /* 高さを自動調整 */
    max-height: 100px; /* 最大高さを設定 */
    object-fit: cover; /* はみ出さないようにする */
}

.unlocked {
    border-color: green;
}

.locked {
    border-color: red;
}

#notification {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffcc00;
    border-radius: 5px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}