body {
  background-color: #f8f9fa;
}

.alert {
  text-align: center; /* テキストを中央揃え */
  padding: 10px; /* 十分な余白を確保 */
}

.alert h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* テキストシャドウ */
  border: 3px solid #ff9800; /* 枠線 */
  padding: 10px;
  border-radius: 10px; /* 角丸 */
  display: inline-block; /* テキストをボックス化 */
}


@media (max-width: 768px) {
  .alert h1 {
    font-size: 1.5rem; /* モバイル用フォントサイズ */
  }
}

.alert p {
  font-size: 1.2rem;
  color: #3e3e3e;
}

/*ボタンのスタイル*/
#capture {
  background-color: #4caf50;
  color: white;
  font-size: 1.5rem;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#capture:hover {
  transform: scale(1.1);
}
/*結果表示のスタイル*/
#result {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

#video, #canvas {
  display: block;
  margin: 20px auto;
  border: 3px solid #4caf50;
  border-radius: 8px;
}

.container {
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}

.a {
  text-align: right;
}

/* モバイル対応*/
@media (max-width: 768px) {
  #capture {
    width: 100%;
    font-size: 1.2rem;
    padding: 12px;
  }
  #video, #canvas {
    width: 100%;
    height: auto;
  }
}